.header__titel {
  display: flex;
  justify-content: space-around;
  width: 730px;
  margin-left: 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  color: black;
  position: relative;
  z-index: 1;
}
